<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>正在作业</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-content">
    <div class="title_model">
        <!-- <div>
          <img src="../../assets/imgs/title1.png">
            残损统计
        </div>
        <div (click)="damaged_state(false)">
            <img src="../../assets/imgs/title4.png">
            残损录入
        </div> -->
        <div (click)="callBack()">
           <img src="../../assets/imgs/zhu-122.png" />
           <span>数据回退</span>
        </div>
        <!-- <div (click)="callBack()">
            <img src="../../assets/imgs/zhu-122.png" />
            <span>数据回退</span>
         </div>
         <div (click)="callBack()">
            <img src="../../assets/imgs/zhu-122.png" />
            <span>数据回退</span>
         </div> -->
    </div>
    <div class="dispatched_mian">
        <div class="dispatched_title">
           <!-- <div>pj4547发车总数：<font>100</font>次</div> -->
           <div>当前作业任务编号：<font>{{work_no}}</font></div>
        </div>
        <div class="dispatched_content">
            <ion-list>
                <div  class="dispatched_li">
                    <label>船名</label>
                    <div ><input type="text" readonly="true" [(ngModel)]="shipName" class="prohibit_inputq"></div>
                </div>
                <div  class="dispatched_li">
                    <label>货名</label>
                    <div ><input type="text" readonly="true" [(ngModel)]="goodsName" class="prohibit_inputq"></div>
                </div>
                <div  class="dispatched_li">
                    <label>件数</label>
                    <div>
                      <!-- <input  type="number" [(ngModel)]="number" (ionBlur)="Inputflag('true')" (ionFocus)="Inputflag('false')"> -->
                      <ion-input   type="number" [(ngModel)]="number"  (ionBlur)="Inputflag(false)" (ionFocus)="Inputflag(true)"></ion-input>
                    
                    </div>
                </div>
                <div  class="dispatched_li dispatched_after">
                    <label>车号</label>
                    <div>
                        <ion-select [(ngModel)]="toppings"  okText="确定" cancelText="取消" >
                            <ion-option *ngFor="let licensePlatei of licensePlate" [value]="licensePlatei.mac_id">
                              {{licensePlatei.mac_id_text}}
                            </ion-option>
                          </ion-select>
                    </div>
                </div>
                <!-- <ion-item>
                  <ion-label color="primary">船名：</ion-label>
                  <ion-input readonly="true" [(ngModel)]="shipName"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary">货名：</ion-label>
                  <ion-input readonly="true" [(ngModel)]="goodsName"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary">件数：</ion-label>
                  <ion-input type="number" [(ngModel)]="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>车号：</ion-label>
                    <ion-select [(ngModel)]="toppings"  okText="确定" cancelText="取消">
                      <ion-option *ngFor="let licensePlatei of licensePlate" [value]="licensePlatei.number">
                        {{licensePlatei.number}}
                      </ion-option>
                    </ion-select>
                  </ion-item> -->
            </ion-list>  
        </div>
      </div>
      <!-- <div  class="color dl">
       <div [hidden]= "!submitFlag"><img src="../../assets/imgs/loading-1.gif"/>保存中</div>
       <div [hidden]= "submitFlag">(10车次)回退</div>
      </div> -->
      
      <div class="fixed—top" [ngClass]="{'fixed_close':!fixed}">
           <div>
             <h1>安全作业管理规定</h1>
             <span>
              {{securityBook}}
              </span>
           </div>
           <div class="button_bottom">
              <button ion-button color="secondary" (click)="sure()">确定阅读</button>
           </div>
      </div>
      <!-- 残损录入模态框 -->
      <div class="damaged_main" [hidden]="damagedFlag">
           <div class="title">
              <span>残损录入</span>
           </div>
           <div class="content">
               <div class="li">
                  <div><label>残损程度：</label></div>
                  <div><input type="text"/></div>  
               </div>
               <div class="li">
                  <div><label>残损原因：</label></div>
                  <div>
                    <ion-select [(ngModel)]="toppings"  okText="确定" cancelText="取消">
                      <ion-option *ngFor="let licensePlatei of licensePlate" [value]="licensePlatei.number">
                        {{licensePlatei.number}}
                      </ion-option>
                    </ion-select>
                  </div>  
                </div>
                <div class="li">
                  <div><label>残损类型：</label></div>
                  <div>
                    <ion-select [(ngModel)]="toppings"  okText="确定" cancelText="取消">
                      <ion-option *ngFor="let licensePlatei of licensePlate" [value]="licensePlatei.number">
                        {{licensePlatei.number}}
                      </ion-option>
                    </ion-select>
                  </div>  
                </div>
                <div class="li">
                  <div><label>连续编号：</label></div>
                  <div (click)="goto_ticketNumberQuery()"><input type="text" readonly ></div>  
                 </div>
                 <div class="li">
                  <div><label>原始编号：</label></div>
                  <div><input type="text"/></div>  
                 </div>
             </div>
             <div class="operation">
                 <div class="button_class">
                     <a class="a_submit green">提交</a>
                     <a class="a_close warning" (click)="damaged_state(true)">关闭</a>
                 </div>
             </div>
      </div>
</ion-content>
<div  class="color" [hidden]="InputflagButton" (click)="submit()" [ngClass]="{'fixed_close':fixed}">
    <div [hidden]= "!submitFlag"><img src="../../assets/imgs/loading-1.gif"/>保存中</div>
    <div [hidden]= "submitFlag">提交数据</div>
</div>
