page-updatepassword {
   .up_content .item-inner{
      color: white;
      font-weight: 600;
   }
   .up_content .li{
      display: flex;
      align-items: center; 
      width: 100%;
      font-size: 18px;
      color: #333;
      background: white;
      margin-bottom: 10px;
      border-radius: 5px;
      
   }
   .up_button{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
   }
   .up_content .li label{
      width: 25%;
      display: flex;
      justify-content: center;
      margin-right: 10px;
      color:#186d93;
      font-weight: 600;
   }
   .up_content .li .text-input-md{
      margin: 8px 8px;
   }
   .up_content .li div{
     border-left: 1px solid #999;
     margin: 8px 0;
   }
   .up_save{
      display: flex;
      width: 100%;
      justify-content: center;
   }
   .up_button .button-md{
       width: 100%;
   }
   .up_button .item.item-md .checkbox-md{
       margin: 9px 9px 9px 0px;
   }
   .up_content .item-md{
       border: none;
   }
   .up_save .button-md-secondary {
    color: #fff;
    background-color: #f3ae68;
    font-size: 18px;
    /* font-size: 4rem; */
    height: 4rem;   
   }
   .up_save .button-md-secondary:hover:not(.disable-hover) {
    background-color: #f3ae68;
   }
   .up_button .checkbox-icon {
    border-color: white;
    background-color: rgba(0,0,0,0);
   }
}
