page-statisticslist {
    .list_a_135{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .node_a_131{
        width: 80%;
    }
    .node_a_132{
        width: 20%;

    }
    .node_a_133{
        width: 100%;
        background: yellow;
    }
    .font-color333{
        color: #444;
    }
    .flex-wrap{
        flex-wrap: wrap;
    }
    .min-width50{
        min-width: 50%;  
    }
    .custom1{
        padding: 5px;
    }
    .custom1>div{
        margin: 5px 0px;
        display: flex;
    }
    .custom1 span{
        display: inline-block;
        min-width: 80px;
        text-align: right;
        font-size: 16px;
    }
    .custom1 font{
        padding: 0 5px;
        /*text-decoration:underline;*/
        color: #555;
        font-size: 16px;
    }
    .flex{
        display: flex;
        align-items: center;
    }
    .flex-wrap{
        flex-wrap: wrap;
    }
    .flex_level_center{
        justify-content: center;
    }
    .float_modlu{
        position:fixed;
        bottom: 0;
        left:0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0,0, .1);
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
    }
    .float_modlu>div{
        width:100%;
        display: flex;
        height: 50px;
        box-shadow: 0px 0px 50px 20px rgba(0, 0,0, .5);
    }
    .float_modlu>div>div:nth-child(1){
        width: 40%;
        //background: red;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-weight: 700;
        background: white;
    }
    .float_modlu>div>div:nth-child(2), .float_modlu>div>div:nth-child(3){
        display:flex;
        width: 30%;
        align-items: center;
        justify-content: center;
        color:white;
    }
    .cumst_button1{
        background:#FF8800;
        box-shadow: inset 0 0 25px 5px #e67e07;
        color: white;
        font-size: 16px;
        padding: 5px 15px;
        margin:5px 20px!important; 
        border-radius: 2px;
        flex-shrink: 0;
    }
    .cumst_button2{
        background: #32db64;
        box-shadow: inset 0 0 25px 5px #09a93d;
        color: white;
        font-size: 16px;
        padding: 5px 15px;
        margin:5px 20px!important;
        border-radius: 2px;  
        flex-shrink: 0;
    }
    .item-md{
        padding-left: 0px;
        border-bottom: 2px solid #eee;
    }
    .item-md:last-child{
       border-bottom: none!important;
    }
    .cumst_button{
       border-radius: 2px;
       box-shadow: inset 0 0 2px 2px #1fdc5c;
       color: white;
       background: #32db64;
       padding: 5px 15px;
       font-size: 16px;
    }
    .fixed_mode1{
       display: flex;
       position: fixed;
       width: 90%;
       left: 5%;
       top: 60px;;
       bottom: 2%;
       background: white;
       box-shadow: 0 0 5px 36px white;
       border-radius: 5px;
       flex-wrap: wrap;
       align-content: flex-start;
       overflow: hidden;
       justify-content: center;
       overflow-y: hidden;
       border: 1px solid #eee;
    }
    .fixed_mode1 .title{
        display: flex;
        justify-content: center;
        font-size: 18px;
        width: 100%;
        background-image: -webkit-linear-gradient(top left, #FF8800, #FFBB66 90%);
        //padding: 2px 0;
        color: white; 
       // position: fixed;
        left:0px;
        right:0px;
        //top: 0px;
        height: 40px;
        align-items: center;
    }
    .fixed_mode1>div:nth-child(2){
        margin-top: 10px;
        width: 90%;
        //background: red;
        display: flex;
        flex-wrap: wrap;
        border:1px solid #eee;
        height: 500px;
        overflow-y: scroll;
    }
    .fixed_mode1>div:nth-child(2)>div{
        width: 100%;
        display: flex;
        font-size: 18px;
    }
    .fixed_mode1>div:nth-child(2)>div:nth-child(odd){
       background: white;
       color: #333;
       padding: 3px 0;
    }
    .fixed_mode1>div:nth-child(2)>div:nth-child(even){
       background: #dcdbdb;
       color: #423939;
       padding: 3px 0;
     }
    //  .fixed_mode1>div:nth-child(2)>div:last-child{
    //      margin-bottom: 50px;
    //  }
    .fixed_mode1>div:nth-child(2)>div>span:first-child{
        width: 25%;
        display: flex;
        justify-content: flex-end;
       
    }
    .fixed_mode1>div:nth-child(2)>div>span:last-child{
        width: 75%;
        display: flex;
        justify-content: center;
    }
    .close_button{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 20px;
        left:0px;
        right:0px;
    }
    .close_button span{
        background: red;
        border-radius: 2px;
        padding: 5px 20px;
        color: white;
    }
    .button_inline{
        border-bottom: 2px solid #eee;
        background: white;
    }
    .ios_moven{
        width: 200%;
        //background: red;
        display: flex;
        flex-shrink: 0;
        transition: all .5s;
        margin-left: 100%;
        height: 100%;
    }
    .ios_moven>div{
        width: 100%;
       // background: red;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .ios_moven>div:last-child{
        flex-wrap: wrap;
    }
    .ios_moven>div:last-child>span{
        margin: 5px 0px; 
    }
    .fixed_close{
        margin-left: -100%;
    }
    .footer_fixedx{
        position: fixed;
        bottom: 0px;
        width: 100%;
        display: flex;
        background: #e8e8e8;;
        justify-items: center;
        justify-content: center;
        padding:5px 0px;
        font-size: 18px;
       
    }
    .workclass_fixed{
        position:fixed;
        width: 100%;
        height: 50px;
        z-index: 1px;
        background: #f2a349;
        bottom: 0px;
        left: 0px;
        display: flex;
        box-shadow: 0 0 50px 9px rgba(0,0,0,.5);

    }
    .workclass_fixed>ion-item{
        width: 37%;
        color: #333;
    }
    .vehicleList_content>div:last-child{
       margin-bottom: 60px;
    }
    .workclass_fixed .select-text{
        color: white;
    }
    .workclass_fixed>div:nth-child(2){
       width: 37%;
    }
    .workclass_fixed>div:nth-child(3){
       width: 26%;
       display: flex;
       justify-content: center;
       justify-items: center;
       align-items: center;
    }
    .workclass_fixed .label-md {
        margin: 13px 0px 13px 10px!important;
        color: white;
    }
    .workclass_fixed .button-md{
        height: 2.6rem;
    }
    .workclass_fixed .datetime-text{
        border: 1px solid white;
        padding: 5px 4px;
        border-radius: 3px;
        color: white;
    }
    .workclass_fixed .select-md{
        border: 1px solid white;
        border-radius: 3px;
        padding: 4px 8px 4px 0px;
    }
    .workclass_fixed .datetime-md{
        padding: 4px 8px 4px 0px;
    } 
    .workclass_fixed  .select-md .select-icon .select-icon-inner {
        border-top: 7px solid;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        color: white;
    }
    .workclass_fixed .button-md-secondary {
        color: #fff;
        background-color: #2cb3eb;
    }
}
