page-prediction {
 
    .item-md.item-block .item-inner{
        border-bottom: none!important;
    }
    .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
        border-bottom-color: rgba(0,0,0,0);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .prediction-header{
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 10px;
      height: 100%;
      >img{
        width: 20px;
      }
    }
    .toolbar-title-md {
        color: white;
        padding: 7px 12px;
        font-size: 2rem;
        font-weight: 500;
        /* color: #424242; */
        text-align: center;
        min-height: 45px;
      }
    ion-header{
        background: #2cb3eb;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
        .col{
            display: flex;
            border-bottom: 1px solid #eee;
            padding: 13px 5px;
            >label{
                flex-shrink: 0;
                font-size: 1.6rem;
                padding: 6px;
                color: #333;
            }
            >textarea{
                width: 100%;
                line-height: 2.3rem;
                color: #666;
                font-size: 1.6rem;
            }
            >input{
                color: #666;
                font-size: 1.6rem;
                border: none;
            }
        }
        .list{
            margin-bottom: 55px;
        }
        .ng-pristine ,.ng-valid{
            margin: 0px!important;
        }
        .item-md {
            border-bottom: 1px solid #eee!important;
        }
        .label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary {
            color: #333;
        }
        .item-md{
            padding: 0px 10px!important;
        }
        .item-input ion-input{
            color: #666;
        }
         .item-datetime .label-md ,.item-select .label-md ,.item-radio.item-md ion-label{
            color: #333;
        }
        .datetime-text ,.select-text {
            color: #666;
        }
        .submit_ioc{
            position: fixed;
            width: 100%;
            bottom: 5px;
            z-index: 9;
            >span{
                width: calc(100% - 10px);
                margin: 0px 5px;
                border-radius: 5px;
                background: #f6a52f;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.8rem;
                padding: 10px 0px;
                color: white;
                >img{
                   width: 25px;
                   margin-right: 10px;
                }
            }
        }
    .col-picture{
        display: flex;
        flex-wrap: wrap;
        >div{
            position: relative;
            width: 33.33%;
            padding: 10px;
            display: flex;
            align-items: center;
            >div:first-child{
                position: absolute;
                width: 15px;
                height: 15px;
                right: 0px;
                top:0px;
                >img{
                    width: 100%;
                }
            }
            >div:nth-child(2){
                display: flex;
                align-items: flex-start;
                box-shadow: 2px 2px 2px 2px #737171;
            }
        }
    }
    .addpicture{
        flex-wrap: wrap;
        align-items: center!important;
        justify-content: center;
        color: #4d4d4d;
        width: 100%;
        flex-direction: column;
        border: 1.2px dotted #a9a6a6ee;
        border-radius: 4px;
        font-size: 1.4rem;
        box-shadow: none!important;
       
        >img{
            width: 50%;
        }
    }
    
}
