<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>正在作业</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="title_model">
       <!-- <div>
         <img src="../../assets/imgs/title1.png">
           残损统计
       </div>
       <div>
          <img src="../../assets/imgs/title2.png">
             堆放明细
       </div>
       <div>
          <img src="../../assets/imgs/title3.png">
            理货交接单
       </div>-->
       <div (click)="receivedata()">
          <img src="../../assets/imgs/zhu-122.png">
            接受数据
       </div> 
       <div (click)="roleback()">
          <img src="../../assets/imgs/zhu-122.png">
            数据回退
       </div>
    </div>
    <div class="dispatched_mian">
        <div class="dispatched_title">
           <!-- <div>pj4547发车总数：<font>100</font>次</div> -->
           <div>当前作业工号：{{jobNumber}}</div>
        </div>
        <div class="dispatched_content">
            <ion-list>
                <div  class="dispatched_li">
                    <label>船名：</label>
                    <div class="prohibit_input"><input type="text" readonly="true" [(ngModel)]="shipName"></div>
                </div>
                <div  class="dispatched_li">
                    <label>货名：</label>
                    <div class="prohibit_input"><input type="text" readonly="true" [(ngModel)]="goodsName"></div>
                </div>
                <div  class="dispatched_li">
                    <label>编/卷号：</label>
                    <div class="prohibit_input"><input type="text" readonly="true" [(ngModel)]="number1"></div>
                </div>
                <div  class="dispatched_li">
                    <label>分票号：</label>
                    <div><input type="text" readonly="true" [(ngModel)]="number2" (click)="TicketNumber()"></div>
                </div>
                <div  class="dispatched_li">
                    <label>件数：</label>
                    <div class="prohibit_input">
                        <input type="number" readonly="true" [(ngModel)]="number">
                    </div>
                </div>
                <div  class="dispatched_li">
                    <label>车号：</label>
                    <div class="prohibit_input">
                            <input type="text" readonly="true" [(ngModel)]="number3">
                        <!-- <ion-select [(ngModel)]="toppings"  okText="确定" cancelText="取消">
                            <ion-option *ngFor="let licensePlatei of licensePlate" [value]="licensePlatei.number">
                              {{licensePlatei.number}}
                            </ion-option>
                          </ion-select> -->
                    </div>
                </div>
                <!-- <ion-item>
                  <ion-label color="primary">船名：</ion-label>
                  <ion-input readonly="true" [(ngModel)]="shipName"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary">货名：</ion-label>
                  <ion-input readonly="true" [(ngModel)]="goodsName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="primary">编/卷号：</ion-label>
                    <ion-input readonly="true" [(ngModel)]="number1"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label color="primary">分票号：</ion-label>
                    <ion-input readonly="true" [(ngModel)]="number2" (click)="TicketNumber()"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label color="primary">件数：</ion-label>
                  <ion-input type="number" [(ngModel)]="number"></ion-input>
                </ion-item> -->
                <!-- <ion-item>
                    <ion-label>车号：</ion-label>
                    <ion-select [(ngModel)]="toppings"  okText="确定" cancelText="取消">
                      <ion-option *ngFor="let licensePlatei of licensePlate" [value]="licensePlatei.number">
                        {{licensePlatei.number}}
                      </ion-option>
                    </ion-select>
                  </ion-item> -->
            </ion-list>  
        </div>
      </div>
      <!-- <div  class="color dl" (click)="backOff()">
          <div [hidden]= "!submitFlag"><img src="../../assets/imgs/loading-1.gif"/>保存中</div>
          <div [hidden]= "submitFlag">回退</div>
      </div> -->
      <div  class="color" (click)="start()">
          <div [hidden]= "!submitFlag"><img src="../../assets/imgs/loading-1.gif"/>保存中</div>
          <div [hidden]= "submitFlag">发车</div>
      </div>
      <div class="fixed—top" [ngClass]="{'fixed_close':!fixed}">
           <div>
             <h1>安全作业管理规定</h1>
             <span>
                {{securityBook}}
              </span>
           </div>
           <div class="button_bottom">
              <button ion-button color="secondary" (click)="sure()">确定阅读</button>
           </div>
      </div>
</ion-content>
